.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: #1a253c;
}

.line {
  height: 20px;
  background-color: #1a253c;
}
.line-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.item {
  width: 100%;
  /* margin-top: 100px;
  margin-left: 100px; */
}

.hero-container {
  height: 400px;
  display: flex;
  justify-content: space-between;
  background-color: #1a253c;
}

.text {
  color: white;
}
/* .hero-container > div {
  flex: 50%; 

  margin-bottom: 10px;
  background-color: #1A253C;
} */

.hero-bottom {
  height: 1000px;
  background-color: #edf6ff;
}

.main-hero{
  height: 400px;
 
 
  background-color: #1a253c;
  

}
.text-and-image{
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  height: 100px;
}

.welcome-note{
color: white;

}
.get-started-btn{
  padding-top: 40px;
}

.second-hero{
  padding-top: 200px;
  padding-right: 200px;
  padding-left: 200px;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #FFFFFF;
  height: 200px !important;
}

.card-header{
  display: flex;
  background-color: #FFFFFF !important;
  color: #43AFFF !important;
}
.card-content{
  padding: 20px;
  display: flex;
  color: #303F60 !important;
}

.third-hero{
  padding-top: 120px;
}

.companies-image{
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}